.window-frame, .window-frame:backdrop {
    box-shadow: none;
    margin: 0;
    padding: 0;
    border: none;
}

#whiskermenu-window {
    border: none;
    box-shadow: none;
    background-clip: padding-box;
}

#whiskermenu-window .window-frame {
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}
